* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: white;
    z-index: 1;
}
.link-item , .link-item-brand{
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding: 10px 15px ;
    font-size: 18px;
    border-radius: 5px;
}
.link-item-brand{
    font-size: 22px;
}
.link-item:hover{
    background-color: rgb(243, 45, 85);
    color: white;
}
/* banner section */
.banner-sec {
    padding: 20px 5px;
    position: relative;
    width: 100%;
}
.banner-main{
    position: absolute;
    top: 30px;
    bottom: 0;
    width: 100%;
}

 .about-main {
    display: flex;
}

.banner-title-side

 {
    width: 100%;
   
}

.banner-title-side {
   color: white;
    text-align: center;
    padding: 10px;
    position: relative;
}


.banner-name {
    font-size: 90px;
    font-weight: 500;
    font-family: 'Recoleta', sans-serif;

}
.job-title{
    font-family: 'Gordita', sans-serif;                                                
    font-size: 50px;   
    font-weight: 500;  
                                    
}
.resume-file{
    position: absolute;
    bottom: 20%;
    left: 30%;
}
.banner-about{
    font-size: 4rem;
   font-weight: 500;
}
.resume-tag{
    width: 150px;
    height: 60px ;
    
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: white;
    padding: 15px;
    border-radius: 5px;
    border: 2px solid #f9004d;
}
.resume-tag:hover{
    background-color: #f9004d;
    color: white;
    
}
.hello-title{
    color: #f9004d;
    font-size: 40px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}
.social-icon-part{
    width: 10%;
}
.social-icon-part ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.social-icon-part ul li{
    margin: 25px auto;
   
    padding: 10px;
    border-radius: 50%;
}
.social-icon-part ul li {}
.social-icon{
    color: #f9004d;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
}
.resume-file-part button{
    background-color: #f9004d;
    color: white;
    padding: 10px;
    width: 150px;
    height: 60px ;
    margin-left: 15px;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
}
/* banner section over */
/* about section  */
.about-skill-side{
 width: 55%;
 background-color: rgb(37, 17, 112);
 
}

.about-me{
    font-size: 35px;
    font-weight: 500;
}
.borer-item{
    border: 2px solid rgb(235, 131, 248);
    width: 20%;
    margin: 5px;
}

.me-title{
    font-size: 56px;
    font-weight: bolder;
    margin-top: 20px;
}
.about-details{
    text-align: justify;
    line-height: 28px;
    font-size: 18px;
}
.progress-items{
    margin: 35px 0px;
}
/* about section over */
/* Service section */
.service-title{
    font-size: 60px;
    font-weight: bolder;
}
.service-items-title{
    font-weight: 600;
}
.service-items{

padding: 0px 10px;
}
.service-border{
    border-left: 1px solid rgb(37, 17, 112);
    border-right: 1px solid rgb(37, 17, 112);
}
.service-items p{
letter-spacing: 1px;
}
.service-icon{
    font-size: 70px;
   color: rgb(235, 131, 248);
}
/* Service section over */
/* Portfolio section */
.portfolio-head{
    background-color:rgb(37, 17, 112) ;
    padding-top: 50px;
    padding-bottom: 30px;   
    position: relative;
}
.portfolio-main{
    display: flex;
}
.portfolio-title{
    width: 15%;    
  
}
.portfolio-img{
    width: 85%;
    background-color: black;   
    background-attachment: fixed;
    padding: 15px;
}
.portfolio-heading{
    font-size: 80px;
    font-weight: bolder;
    transform: rotate(-90deg);
    text-transform: uppercase;
    letter-spacing: 3px;
}
.portfolio-heading-head{
    position: absolute;
    bottom: 50%;
    left: -10%;
  
}
.card-item{
   height: 500px;
   color: black;
   
}
.card-item-img{
    height: 300px;
}
/* Portfolio section over */
/* contact me section */
.contact-title {
   text-align: center;
   padding-top: 30px;
   padding-bottom:20px;
}
.contact-title  h1{
    font-size: 60px;
    font-weight: 900;
}
#map {
    width: 100%;
    height: 500px;
  }
/* contact me section over */
footer{
    background-color: rgb(9, 9, 95);
    text-align: center;
    padding: 30px 0px;
    margin-top: 10px;
}
.laptop-sec{
   color: black;
   margin-top: 50px;
}
.carousel-item img{
    height: 400px;
}
.blog{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* home about section start */
.about-img-part{
    background-color: rgb(58, 57, 57);
    z-index: 1;
}
.about-img-part img{
    width: 100%;
    z-index: 99999;
    opacity: .7;
}
.about-img-part:hover{
    background-color: #020da18e;
}
.about-img-part:hover img{
    opacity: 1;
}
.about-details-part p{
 text-align: justify;
 line-height: 25px;
 font-size: 18px;
}
.home-about-title{
    font-size: 80px;
    font-weight: 800;
}
.about-details-part ul li{
    list-style: none;
    margin: 10px 15px;

}
.link-about-nav{
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1px;

}
.main-skill-part ul{
margin: 0;
 display: flex;
 flex-wrap: wrap;
 
}
.main-skill-part ul li{
    margin: 5px;
    font-weight: 600;   
    border-right: 2px solid rgb(190, 23, 23);
    padding-right: 10px;
   
}
.main-skill-part ul li:last-child{
    border-right: none ;
}
.main-skil-name{
    font-weight: 600;
    margin: 0;
}
.education-name{
    font-weight: 600;
    border-bottom: 2px solid red;
    display: inline-block;
    margin: 10px auto;
}
/* home about section over */
@media screen and (max-width:992px) {
    .banner,  .about-main, .portfolio-main{
        display: block;
    } 
    .banner-title-side,
    .banner-img-side  {
    width: 100%;
    height: 550px;
    margin-top: 10px;
}
.resume-file{
    bottom: 15%;
}
.banner-about{
   font-size: 3rem;
}
.about-title-side ,
    .about-skill-side{
        width: 95%;
        height: 100%;
       
    }
    .about-skill-side{
        padding: 10px 0px;
        margin-top: 40px;
    }
    .portfolio-title ,
     .portfolio-img {
         width: 100%;
     }
     .portfolio-heading{
        transform: rotate(0deg);
     }
     .portfolio-heading-head{
         text-align: center;
        position: static;
     }
     .card-item{
        
     }
}
@media screen and (max-width:576px) {
    .me-title{
        font-size: 40px;
    }
}